/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* RESET ENDS */

@import url('https://fonts.googleapis.com/css?family=Ramabhadra:400');

html {font-size: 150%;} /*24px*/

body {
  background: white;
  font-family: 'Ramabhadra', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #99DBFC;
}
/*text*/
p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Ramabhadra', sans-serif;
  font-weight: 800;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

/*text ends*/


.home {
  background-image: url('asses/lapland.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 0px;
}
nav, .learn, .text, .numbers {
  margin: 2.5em;
}
.home nav {
  color: white;
}
ul {
  list-style-type: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.text {
  margin-top: 200px;
  text-align: right;
  color: white;
}
.learn {
  margin-top: 10px;
  margin-right: 100px;
  float: right;
  background-color: black;
  height: 40px;
  width: 90px;
}
.home .text ol {
  display: flex;
  flex-direction: row;
  float: right;
}
.learn h6 {
margin-top: -3px;
margin-left: 10px;
}
.numbers {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
margin-top: 150px;
margin-right: -100px;
}
.numbers h4 {
  opacity: 0.5;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-top: 70px;
}

.content nav {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content nav ul a {
  color: #FFD7A2;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #FFD7A2;
  border-radius: 50%;
  display: inline-block;
}
.dott {
  height: 25px;
  width: 25px;
  background-color: #8CADFF;
  border-radius: 50%;
  display: inline-block;
}
.symbol {
  padding-left: 100px;
  height: 600px;
  width: 200px;
  background-color: #8CADFF;
}
.symbol h2 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  margin-top: 150px;
}
.symbol h3 {
  margin-left: 100px;
  color: #8CADFF;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.aeronautics {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
.aeronautics img {
  height: 700px;
  width: auto;
  z-index: 1;
  margin-left: -800px;
}
.aero {
  position: absolute;
  margin-left: 500px;
  margin-top: 100px;
  z-index: 2;
  height: 500px;
  width: 900px;
  background-color: #8CADFF
}
.aero .prepare_to_brawl h2 {
  color: white;
  opacity: 0.3;
  z-index: 2;
}
.prepare_to_brawl {
  margin: 2.5em;
}
.prepare_to_brawl h3 {
  position: absolute;
  z-index: 1;
  margin-top: -70px;
  color: white;
}
.prepare_to_brawl p {
  margin-top: 50px;
  color: white;
}
.prepare_to_brawl .learn h6 {
  color: white;
  margin-left: -30px;
}
.today {
  margin-left: -500px;
  margin-top: 100px;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.täna {
  position: absolute;
  margin: 2.5em;
  height: 500px;
  width: 900px;
  background-color: #FFE8C8;
  margin-left: -100px;
}
.boo {
  margin: 2.5em;
  color: #FFAE3D;
}
.boo h3 {
  margin-top: -50px;
}
.boo h2 {
  opacity: 0.3;
}

.today iframe {
  margin-right: -800px;
}
.solar {
  padding-top: 200px;
  margin: 2.5em;
}
.sol {
  z-index: 3;
  position: absolute;
  height: 500px;
  width: 400px;
  margin-top: -200px;
  margin-left: 1150px;
}
.sol h2 {
  margin-bottom: -90px;
  opacity: 0.7
}
.sol p {
  color: #FFE8C8;
  text-shadow:
		-1px -1px 0 #FFAE3D,
		1px -1px 0 #FFAE3D,
		-1px 1px 0 #FFAE3D,
		1px 1px 0 #FFAE3D;
}
.solar img {
  z-index: 2;
  height: 800px;
  width: auto;
  margin-left: 300px;
  position: absolute;
}
.box {
  height: 800px;
  width: 1500px;
  background-color: #8CADFF;
  margin-top: 100px;
  margin-left: 100px;

}
.solar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
